* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#6699ff, #dda0dd);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card {
  height: 80vh;
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 100px;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  border: 1px solid white;
  position: relative;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.search button img {
  width: 16px;
}

.your-location {
  width: 100%;
  text-align: left;
}
.your-location img {
  width: 25px;
  height: 25px;
}
#your-location-button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 10px;
  cursor: pointer;
  justify-self: end;
}

.weather-icon {
  position: absolute;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
}
#weather-icon {
  width: 250px;
}

.date-time {
  position: absolute;
  bottom: 0;
  left: 0px;
  margin: 10px;
  font-weight: 700;
}
.day-date {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}
#current-date {
  margin-left: 5px;
}
#temperature {
  position: absolute;
  bottom: 0;
  right: 0px;
  font-size: 80px;
  margin-right: 10px;
}

.weather-details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
  display: none;
}

.card2 {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  height: 80vh;
  width: 90%;
  max-width: 470px;
  color: white;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Starting-img {
  width: 500px;
}

.weather-data p {
  font-size: 27px;
  padding: 10px 0;
  border-bottom: 0.5px solid white;
}
.name {
  position: absolute;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
}
